@charset "UTF-8";

h3 {
	text-align: center;
}

#mainContainer {
  height: 100%;
  width: 100%;
  display: flex;
}

.ui-datatable-scrollable-body {
    height: auto;
    max-height: 800px;
    overflow-y: scroll;
}