@charset "UTF-8";

h3 {
	text-align: center;
}

#mainContainer {
  height: 100%;
  width: 98%;
  display: flex;
}

.ui-datatable-scrollable-body {
    height: auto;
    max-height: 60vh;
    /*overflow-y: scroll;*/
}

.ui-widget,
.ui-widget .ui-widget {
    font-size: 14px !important;
}